.searchwuliao {
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.createwuliao {
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wuliaotable {
    padding: 10px;
    margin: 15px; 
}